@model DataViewModel


@{
    bool flag = false;
    for (int i = 0, dayInCurrentMonthIteraor = 0,iter = 0; i < Model.WeeksInMounth; ++i)
    {
        <div class="row g-3 p-0 pt-3  bg-card">
            @{
                if (dayInCurrentMonthIteraor < Model.DayInMonth)
                {
                    for (int j = 0; j < Model.DayInWeek; ++j)
                    {
                        DayOfWeek day = (DayOfWeek)Enum.ToObject(typeof(DayOfWeek), j);
                        if (day == Model.FirstDayOfMonth.DayOfWeek)
                        {
                            flag = true;
                        }

                        if (flag && dayInCurrentMonthIteraor < Model.DayInMonth)
                        {
                            bool result = Model.Days.Count > iter && Model.FirstDayOfMonth.AddDays(dayInCurrentMonthIteraor) == Model.Days[iter].Date;

                            <div class="col border-0 p-0">
                                <div class="card shadow-sm border-0 bg-card" id="@(result? $"{Model.Days[iter].Id}": $"{i}_{j}")_card">
                                    <h5 class="text-center mt-3 mb-2 " id="@(Model.FirstDayOfMonth.AddDays(dayInCurrentMonthIteraor).ToString("yyyy-MM-dd"))">@(day.ToString())</h5>
                                    <div class='text-center border-bottom border-dark' id="@(result? $"{Model.Days[iter].Id}": $"{i}_{j}")_date">@(Model.FirstDayOfMonth.AddDays(dayInCurrentMonthIteraor).ToShortDateString())</div>
                                    <div class="card-body mt-0">
                                        <div class="input-group mb-3">
                                            <textarea class="form-control border-0 bg-card" id="@(result? $"{Model.Days[iter].Id}": $"{i}_{j}")_value" rows="6">@(result ? Model.Days[iter].Value : "")</textarea>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center row">
                                            <div class="col-5">
                                                <button type="button" id="@($"{(result? Model.Days[iter].Id : $"{i}_{j}")}_X")" onclick="deleteInformation.apply(this)" class="w-100 btn btn-dark">X</button>
                                            </div>
                                            <div class="col-2"></div>
                                            <div class="col-5">
                                                <button type="button" id="@($"{(result? Model.Days[iter].Id:$"{i}_{j}" )}_V")" onclick="saveInformation.apply(this)" class="w-100 btn btn-dark">V</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            if (result)
                            {
                                ++iter;
                            }

                            ++dayInCurrentMonthIteraor;
                        }
                        else
                        {
                            <div class="col border-0 p-0">
                                <div class="card shadow-sm border-0 bg-card">
                                    <h5 class="text-center mt-3 mb-2">@(day.ToString())</h5>
                                    <div class='text-center border-bottom border-dark'>Другой месяц</div>
                                    <div class="card-body mt-0 ">
                                        <div class="input-group mb-3">
                                            <textarea class="form-control border-0 bg-card" rows="6" disabled></textarea>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center row">
                                            <div class="col-5">
                                                <button type="button" disabled class="w-100 btn btn-sm btn-dark">X</button>
                                            </div>
                                            <div class="col-2"></div>
                                            <div class="col-5">
                                                <button type="button" disabled class="w-100 btn btn-sm btn-dark">V</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        
                    }
                }

            }
        </div>
    }
}
